body {
    background-color: #dddddd;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    position: absolute;
    top: 30px;
    left: 80px;
}

.title-mark {
    width: 40px;
    height: 40px;
    background-color: #4169E1;
    border: 2px solid #4169E1;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.title-mark .line1,
.title-mark .line2,
.title-mark .line3 {
    position: absolute;
    height: 1px;
    background-color: white;
    left: 5px;
}

.title-mark .line1 {
    width: 15px;
    top: 10px;
}

.title-mark .line2 {
    width: 20px;
    top: 20px;
}

.title-mark .line3 {
    width: 10px;
    top: 30px;
}

.title-mark .material-symbols-outlined {
    color: white;
}

.title {
    color: #4169E1;
    font-weight: bold;
    font-size: 32px;
    margin-left: 20px;
}

.title-r {
    font-family: 'Almarai', sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.admin {
    color: #4169E1;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-bottom: 60px;
    margin-top: -20px;
}

.button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.button-grid button {
    padding: 20px;
    font-size: 18px;
    background-color: #4169E1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.button-grid button:hover {
    background-color: #1C86EE;
}